<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-md-6 text-center">
            <img src="/assets/pokeball.png" class="logo mx-auto d-block" (click)="displayList()">
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-lg-6 col-md-8">
            <ul *ngIf="hidden" class="pokemons">
                <li *ngFor="let pokemon of pokemons let i = index">
                    <button class="text-center" [routerLink]="['/pokemon', pokemon.name]">
                        <span class="badge">{{ i + 1 }}</span>
                        <span class="name">{{ pokemon.name }}</span>
                    </button>
                </li>
            </ul>
            <small class="text-muted" *ngIf="!hidden">Click on Poké Ball to see available Pokémons</small>
        </div>
    </div>
</div>