.logo {
    height: 250px;
    max-width: 90%;
}

h1 {
    font-family: 'Rampart One';
    font-size: 50px;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);;
}

.pokemons {
    list-style-type: none;
}

.pokemons li {
    display: flex;
}

.pokemons button {
    border: none;
    border-radius: 5px;
    color: black;
    flex: 1;
    padding: 0;
    background-color: #ececec;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin: .3em;
    height: 1.8em;
    display: flex;
    
}

.pokemons .badge {
    display: inline-block;
    font-size: 18px;
    background-color: #D2221F;
    margin-right: .8em;
    border-radius: 5px 0 0 5px;
}

.pokemons .name {
    align-self: center;
}